.coin-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.coin {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: #ccc;
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dime {
    height: 80px;
    width: 80px;
    background-color: #eee;
}

.nickel {
    height: 110px;
    width: 110px;
    background-color: #ddd;
}

.penny {
    height: 90px;
    width: 90px;
    background-color: #dca444;
}

.coin p {
    text-transform: capitalize;
}